<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net46" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net46" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net46" />
  <package id="RazorEngine" version="3.7.7" targetFramework="net46" />
</packages>